.no_margin{margin-right:0px !important}.piece{width:980px;margin-bottom:15px;height:auto;overflow:hidden}.jiu_top{margin-top:1px}.jiu_bd
.content{height:auto;overflow:visible;width:728px}.jiu_bd
.goods_box{width:242px;float:left;overflow:visible;position:relative;background:#fff;padding-bottom:15px;margin-right:1px;margin-bottom:1px;z-index:5}.jiu_bd
.goods_box_l{border-right:none;margin-right:0px}.jiu_bd .goods_box:hover{background:#fafafa}.jiu_bd
.box_bd_01{width:242px;float:left;background:#fff;height:342px;padding-bottom:0px}.jiu_bd .box_bd_01:hover{background:#fff}.jiu_bd
.box_bd_02{width:242px;_width:242px;background:#fff;height:342px}.jiu_bd
.old_box{width:752px;height:30px;overflow:hidden;padding:10px
0;clear:both}.jiu_bd .old_box
h3{width:752px;height:30px;overflow:hidden;position:relative}.jiu_bd .old_box h3
.line_bg{background:url(/jky/w/new/img/line-cur.gif) no-repeat;height:1px;margin-top:15px}.jiu_bd .old_box h3
.title{position:absolute;top:5px;left:353px;width:50px;height:20px;background:url(../images/background_bg.png) repeat;color:#777;font-size:12px;font-weight:normal}.jiu_bd .goods_box
.li_bg{background:url(/jky/w/new/img/global/li_bg.png) no-repeat;height:11px;width:183px;position:absolute;bottom:-11px;right:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',
src="http://s.xdimg.com/img/global/li_bg.png")}.jiu_bd .goods_box .inner_box h3,.jiu_bd .goods_box .inner_box
h4{color:#666;font-size:12px;height:20px;line-height:20px;margin:0
auto 7px;padding-top:10px;width:220px;overflow:hidden;font-weight:normal}.jiu_bd .goods_box .inner_box
h4{font-size:12px;display:none}.jiu_bd .goods_box .inner_box h4
.xiao_content{color:#999;font-size:12px;margin-left:5px}.jiu_bd .goods_box .inner_box h3
a{color:#666;font-size:14px}.jiu_bd .goods_box .inner_box h3 .today-new{display:block;position:absolute;background:url(/jky/w/new/img/global/new_.gif) no-repeat;width:28px;height:19px;top:-2px;right:0}.jiu_bd .goods_box .inner_box h3
.source{background:url(../images/login_total.gif) no-repeat 0 -238px;display:inline-block}.jiu_bd .goods_box .inner_box h3
.tao_n{background-position:-49px -242px;height:16px;width:16px;vertical-align:-4px;margin-right:3px;*vertical-align:-1px}.jiu_bd .goods_box .inner_box h3
.tao_t{background-position:0 -242px;display:inline-block;height:14px;width:14px;vertical-align:-2px;*vertical-align:1px;margin-right:3px}.jiu_bd .goods_box .inner_box h3
.tao_v{background-position:-22px -242px;display:inline-block;height:14px;width:21px;vertical-align:-2px;margin-right:3px;*vertical-align:1px}.jiu_bd .goods_box .inner_box h3 .tao-d{width:28px;height:15px;background-position:-167px -66px;vertical-align:-3px;margin-right:3px}.jiu_bd .goods_box .inner_box h3
.green{color:#129800}.jiu_bd .goods_box .inner_box
.pic{height:220px;margin:0
auto 1px;position:relative;width:220px}.jiu_bd .goods_box .inner_box .pic
a{display:block;height:220px;overflow:hidden;width:220px;text-align:center;cursor:pointer}.brand_goods{background:url(../images/brand.png) no-repeat;display:block;width:40px;height:43px;position:absolute;top:-3px;right:9px;z-index:10;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop',src="http://s.juancdn.com/jky/w/new/img/cover/brand.png")}.session-icon{top:-3px;right:5px;position:absolute;background:url(../images/session-icon.png) no-repeat;width:35px;height:41px;padding-left:8px;padding-top:2px}.session-icon
span{color:#fff;font-size:12px;line-height:18px;letter-spacing:2px}.jiu_bd .goods_box .inner_box .pic
.go_quan{z-index:12;display:none;position:absolute;height:71px;width:100px;top:70px;left:60px;cursor:pointer;text-decoration:none;background:url(../images/quan_tag_wait.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',
src="http://s.juancdn.com../images/quan_tag_wait.png")}.jiu_bd .goods_box .inner_box .pic
.go_quan_red{background:url(../images/quan_tag_buy.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',
src="http://s.juancdn.com../images/quan_tag_buy.png")}.jiu_bd .goods_box .inner_box .pic
.go_quan_gray{background:url(../images/quan_tag_end.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',
src="http://s.juancdn.com/jky/w/new/img/cover/quan_tag_end.png")}.jiu_bd .goods_box .inner_box .pic .go_quan
em.three{font-size:14px;top:12px}.jiu_bd .goods_box .inner_box .pic .go_quan_red
em.three{font-size:14px;top:12px}.jiu_bd .goods_box .inner_box .pic .go_quan_gray
em.three{font-size:14px;top:12px}.jiu_bd .goods_box .inner_box .pic .go_quan:hover{opacity:0.8;filter:alpha(opacity=80)}.jiu_bd .goods_box .inner_box .pic .go_quan_red:hover{opacity:0.8;filter:alpha(opacity=80)}.jiu_bd .goods_box .inner_box .pic .go_quan_gray:hover{opacity:0.8;filter:alpha(opacity=80)}.jiu_bd .goods_box .inner_box .pic .go_quan
em{position:absolute;font-size:20px;top:6px;left:10px;font-family:"微软雅黑","verdana";color:#fff;height:30px;width:40px;overflow:hidden}.jiu_bd .goods_box .inner_box .pic .go_quan
em.go_quan_time{top:45px;font-size:15px;font-family:"宋体","verdana";font-weight:600;width:80px;text-align:center}.jiu_bd .goods_box .inner_box .pic .go_quan em.go_quan_time
i{font-size:16px;font-family:"微软雅黑","verdana"}.jiu_bd .goods_box .inner_box .pic .go_quan em
i{font-size:15px;font-style:normal}.jiu_bd .goods_box .inner_box .pic
img{margin:0px
auto;width:220px;overflow:hidden}.jiu_bd .goods_box .inner_box .mask-bg{background-color:#000;height:18px;left:0px;left:0px \9;*left:0px;opacity:0.3;filter:alpha(opacity=30);position:absolute;top:0px;width:220px;height:220px;z-index:10;display:none}.jiu_bd .goods_box .inner_box .hover
.go_quan{display:block}.jiu_bd .goods_box .inner_box .hover .mask-bg{display:block}.jiu_bd .goods_box .inner_box
.buy_mask{background-color:#000;height:18px;left:15px;left:15px \9;*left:10px;opacity:0.3;filter:alpha(opacity=30);position:absolute;top:257px;width:220px}.jiu_bd .goods_box .inner_box
.buy_state{color:#FFF;left:15px;position:absolute;top:257px;width:220px;height:18px;line-height:16px;line-height:20px \9;_line-height:16px}.jiu_bd .goods_box .inner_box .buy_state
.orig_price{float:left;font-size:12px;padding:0
4px 0 10px}.jiu_bd .goods_box .inner_box .buy_state
.begin_time{float:left;font-size:12px;padding:0
0px 0 5px;height:18px;line-height:16px;line-height:18px \9;_line-height:16px}.jiu_bd .goods_box .inner_box .buy_state
.buy_ed{color:#FFF;float:right;font-size:12px;padding-right:6px}.jiu_bd .goods_box .inner_box .buy_state .buy_ed
strong{font-family:Arial;font-weight:bold}.jiu_bd .goods_box .inner_box
.buy_action{height:40px;line-height:40px;margin:0
auto;position:relative;text-decoration:none;width:220px;overflow:hidden;margin-bottom:1px}.jiu_bd .goods_box .inner_box .buy_action
.price{color:#ff7900;float:left;font:bold 22px "arial";margin-top:6px}.jiu_bd .goods_box .inner_box .buy_action .price
em{font-family:"Microsoft Yahei","Arial","Verda","tahoma";font-size:15px;margin-right:2px}.jiu_bd .goods_box .inner_box .buy_action .price
span{font-size:22px}.jiu_bd .goods_box .inner_box .buy_action .brand-icon{background:url(/jky/w/new/img/cover/brand-icon01.gif) no-repeat;display:block;width:60px;height:18px;float:left;margin-top:10px}.jiu_bd .goods_box .inner_box .buy_action
.btn{background:url(../images/goods_tag_state.gif) no-repeat -4px -461px;cursor:pointer;display:block;height:28px;text-align:center;width:85px;color:#fff;line-height:28px;font-weight:bold;font-size:15px;float:right;margin-top:6px}.jiu_bd .goods_box .tag_wait .buy_action
.btn{background-position:0 -58px}.jiu_bd .goods_box .tag_end .buy_action
.btn{background-position:0 -116px}.jiu_bd .goods_box .tag_sellout .buy_action
.btn{background-position:0 -116px}.jiu_bd .goods_box .inner_box .buy_action .btn:hover{background-position:0 -29px;text-decoration:none}.jiu_bd .goods_box .tag_wait .buy_action .btn:hover{background-position:0 -87px}.jiu_bd .goods_box .tag_end .buy_action .btn:hover{background-position:0 -116px}.jiu_bd .goods_box .tag_sellout .buy_action .btn:hover{background-position:0 -116px}.jiu_bd .goods_box .inner_box .buy_action
.oldprice_1{color:#d4d4d4;display:block;font-size:12px;margin-left:5px;text-decoration:through;width:50px;overflow:hidden;float:left;text-decoration:line-through}.jiu_bd .goods_box .inner_box .buy_action
.oldprice_2{color:#d4d4d4;display:inline-block;font-size:12px;margin-left:5px;text-decoration:line-through;width:50px;overflow:hidden;float:left}.jiu_bd .goods_box .inner_box
.other_action{width:220px;margin:0
auto;height:18px;overflow:hidden;padding-top:9px;border-top:#eee dashed 1px}.jiu_bd .goods_box .inner_box .other_action
span{display:block;float:left}.jiu_bd .goods_box .inner_box .other_action
.du_icon{display:block;float:left;background:url(../images/duxiang_.gif) no-repeat;width:27px;height:18px;margin-right:5px}.jiu_bd .goods_box .inner_box .other_action .keyword,.jiu_bd .goods_box .inner_box .other_action .keyword
em{background:url(../images/type-total.gif) no-repeat}.jiu_bd .goods_box .inner_box .other_action
.keyword{float:left;height:18px;line-height:18px;padding-right:3px;background-position:right 0;color:#ababab}.jiu_bd .goods_box .inner_box .other_action .keyword
em{display:inline-block;float:left;width:3px;height:18px;background-position:0 0;cursor:pointer}.jiu_bd .goods_box .inner_box .other_action .keyword:hover{background-position:right -22px;color:#ff7900;text-decoration:none}.jiu_bd .goods_box .inner_box .other_action .keyword:hover
em{background-position:0 -22px}.jiu_bd .goods_box .inner_box .other_action .like-state{float:right}.jiu_bd .goods_box .inner_box .other_action
.like{display:block;float:left;color:#f5433e;display:block;cursor:pointer;line-height:14px}.jiu_bd .goods_box .inner_box .other_action .like
em{display:block;background:url(../images/newjky_total.gif) no-repeat -388px 3px;height:12px;width:12px;float:left;margin-top:2px}.jiu_bd .goods_box .inner_box .other_action .like
span{display:block;float:left;margin-left:4px}.jiu_bd .goods_box .inner_box .other_action .no-like
em{background-position:-388px -54px}.jiu_bd .goods_box .inner_box .other_action .no-like:hover
em{background-position:-388px 3px}.jiu_bd .goods_box .inner_box .other_action .no-like
span{color:#ababab}.jiu_bd .goods_box .inner_box .other_action .no-like:hover
span{color:#F5433E}.jiu_bd .goods_box .inner_box .other_action .like-state .like-num{height:20px;overflow:hidden;padding-left:5px;position:relative;text-align:left;float:left}.jiu_bd .goods_box .inner_box .other_action .like-state .like-num
dl{position:relative}.jiu_bd .goods_box .inner_box .other_action .like-state .like-num dl
dd{height:20px;width:auto;_width:28px}.jiu_bd .goods_box .inner_box .other_action .like-state .like-num dl .add-num{color:#F5433E}.jiu_bd .goods_box .inner_box .other_action .like-state .like-num dl .active-num{color:#F5433E}.jiu_bd .goods_box .inner_box
.ran_action{height:20px;padding-top:7px}.jiu_bd .goods_box .inner_box .ran_action
.time{color:#777;font-size:14px}.jiu_bd .goods_box
.wait_buy{position:absolute;bottom:17px;right:14px;height:20px;background:#fffbef;border:#ffba75 solid 1px;z-index:10;padding:3px
8px;color:#dc7d21;font-size:14px;display:none}.jiu_bd .goods_box .wait_buy
p{background:url(../images/tips.gif) no-repeat 0 0px;padding-left:20px;height:20px;line-height:18px;font-weight:normal;font-size:12px}.jiu_bd .goods_box .wait_buy
em{background:url(../images/top_cur.gif) no-repeat;width:9px;height:6px;position:absolute;top:-5px;right:20px}.jiu_bd .goods_box .wait_buy p
a{color:#0289cd;margin-left:1px}.jiu_bd .goods_box .wait_buy p a:hover{text-decoration:underline}.jiu_bd .goods_box
.wait_quan{position:absolute;bottom:84px;_bottom:83px;left:15px;height:20px;background:#fffbef;border:#ffba75 solid 1px;z-index:10;padding:0px
2px;color:#666;font-size:14px;display:none;width:214px}.jiu_bd .goods_box .wait_quan
p{height:20px;line-height:18px;font-weight:normal;font-size:12px;white-space:nowrap}.jiu_bd .goods_box .wait_quan
em{background:url(../images/bottom_cur.gif) no-repeat;width:9px;height:6px;position:absolute;bottom:-5px;left:25px;_bottom:-15px}.jiu_bd .goods_box .wait_quan p
b{color:#f50;font-size:16px}.jiu_bd .goods_box .wait_quan p
a{color:#0289cd;margin-left:1px}.jiu_bd .goods_box .wait_quan p a:hover{text-decoration:underline}.main
.jiu_shi{height:auto;overflow:hidden;width:1000px;padding-bottom:20px;clear:both}.main .jiu_shi
.title{height:auto;clear:both;overflow:hidden;margin-bottom:5px}.main .jiu_shi .title
span{display:block;height:30px;color:#ee6217;font-size:20px;width:167px;font-family:"微软雅黑","宋体";line-height:30px;float:left;margin-top:10px}.main .jiu_shi .title
.kanmore{float:right;display:block;height:30px;line-height:36px;margin-right:5px;margin-top:10px}.main .jiu_shi .title .kanmore
.txt{display:block;float:left;color:#404040;background:none;font-weight:normal;color:#404040;font-size:12px;margin-right:5px}.main .jiu_shi .title .kanmore
em{display:block;background:url(/jky/w/new/img/global/go_go.gif) no-repeat;height:13px;width:13px;float:left;margin-top:12px}.main .jiu_shi .title .kanmore:hover{text-decoration:none;cursor:pointer}.main .jiu_shi .title .kanmore:hover
.txt{color:#ff6c01}.main .jiu_shi
.line_top{height:1px;background:#d3d6d1;width:1000px;overflow:hidden}.main .jiu_shi
.line_bottom{height:1px;background:#fff;width:1000px;overflow:hidden}.main .jiu_shi
.shijiu_list{clear:both;height:auto;overflow:hidden;margin-top:13px}.main .jiu_shi .shijiu_list
li{float:left;margin-left:20px;_margin-left:20px;height:auto;width:150px}.main .jiu_shi .shijiu_list li
.pic{display:block;height:148px;width:148px;overflow:hidden;border:#e5e5e5 solid 1px;overflow:hidden}.main .jiu_shi .shijiu_list li .pic
img{width:148px}.main .jiu_shi .shijiu_list li
.title_name{height:25px;line-height:25px;overflow:hidden}.main .jiu_shi .shijiu_list li .title_name
a{text-decoration:none;color:#5a5a5a}.main .jiu_shi .shijiu_list li .title_name a:hover{text-decoration:underline}.main .jiu_shi .shijiu_list li
.detail{height:25px;line-height:25px}.main .jiu_shi .shijiu_list li .detail
.price{color:#ee6217;font-family:"微软雅黑","Arial";font-size:16px;display:block;float:left}.main .jiu_shi .shijiu_list li .detail .price
em{font-size:12px}.main .jiu_shi .shijiu_list li .detail
a{float:right;text-decoration:underline}.main .jiu_shi .shijiu_list li .detail
.go_buy{color:#ff4d00}.main .jiu_shi .shijiu_list li .detail
.go_action{color:#129800;text-decoration:none}.main .jiu_shi .shijiu_list li .detail
.go_over{color:#999;text-decoration:none}.main .jiu_shi .shijiu_list li .detail a:hover{text-decoration:none}.main .jiu_shi .shijiu_list li .detail .go_action:hover{text-decoration:underline}.main .jiu_shi .shijiu_list li .detail .go_over:hover{text-decoration:underline}.main .jiu_shi .shijiu_list li
.shopname{color:#969696;margin:4px
0 5px 0;margin:2px
0 7px 0 \9}.main .jiu_shi .shijiu_list li .shopname
span{color:#ee6217;font-size:12px;font-family:"微软雅黑","Arial"}.main .jiu_shi .shijiu_list li
.other{color:#969696}.main
.jiu_right{width:230px;height:auto;margin-top:57px}.main .jiu_right
.exchange_info{background:#fff;padding:15px;height:auto;overflow:hidden;width:200px}.main .jiu_right .exchange_info
h3{color:#a3370f;font-size:14px;overflow:hidden;height:24px}.main .jiu_right .exchange_info h3
span{display:block;float:left}.main .jiu_right .exchange_info h3
.more{color:#a3370f;float:right;font-size:12px;font-weight:normal;display:block}.main .jiu_right .exchange_info h3 .more: hover{text-decoration:underline}.main .jiu_right .exchange_info
.goods_info{padding:12px
0px;height:auto;overflow:hidden;clear:both}.main .jiu_right .exchange_info
.no{padding-bottom:5px;border-bottom:none}.main .jiu_right .exchange_info .goods_info
.goods_img{width:54px;height:54px;overflow:hidden;float:left;margin-right:10px;border:#fff solid 1px;display:inline}.main .jiu_right .exchange_info .goods_info
.goods_detail{float:left;width:98px;height:auto;overflow:hidden;margin-top:-3px}.main .jiu_right .exchange_info .goods_info .goods_detail
p{color:#8d8d8d}.main .jiu_right .exchange_info .goods_info .goods_detail
.goods_title{height:36px;line-height:18px;overflow:hidden}.main .jiu_right .exchange_info .goods_info .goods_detail .goods_title
a{color:#8d8d8d}.main .jiu_right .exchange_info .goods_info .goods_detail
.exchange_price{margin-top:5px;color:#ccc}.main .jiu_right .exchange_info .goods_info .goods_detail .old-price{color:#ccc;text-decoration:line-through;margin-top:8px}.main .jiu_right .exchange_info .goods_info .goods_detail
.goods_price{color:#ff7600;font-size:14px;margin-top:8px}.main .jiu_right .exchange_info .goods_info .goods_detail .goods_price
em{font-size:12px;vertical-align:1px}.main .jiu_right .exchange_info .goods_info .goods_detail .exchange_price
b{color:#ff7201;font-weight:normal;margin-right:2px}.main .jiu_right .exchange_info .goods_info .goods_detail .go-buy
a{color:#ff7600}.main .jiu_right
.theysays{padding:0px;width:230px}.main .jiu_right .theysays
h3{height:38px;line-height:38px;background:#f9f9f9;padding:0
15px;color:#a3370f}.main .jiu_right .apply_list
.goods_info{padding:0
0 20px;width:230px;_padding-bottom:10px}.main .jiu_right .apply_list .no-info{border-bottom:none}.main .jiu_right .apply_list .goods_info
.pic{height:230px;width:230px;overflow:hidden;position:relative}.main .jiu_right .apply_list .goods_info .pic
ul{width:920px}.main .jiu_right .apply_list .goods_info .pic ul
li{width:230px;height:230px;float:left;position:relative}.main .jiu_right .apply_list .goods_info .pic
img{width:230px}.main .jiu_right .apply_list .goods_info .pic
.exchange{background:url(../images/exchange.png) no-repeat;width:38px;height:37px;position:absolute;top:0px;right:0px}.main .jiu_right .apply_list .goods_info .pic
.try{background:url(../images/try.png) no-repeat;width:38px;height:37px;position:absolute;top:0px;right:0px}.main .jiu_right .apply_list .goods_info
.title{margin:5px
auto 8px;height:16px;line-height:16px;width:180px;overflow:hidden}.main .jiu_right .apply_list .goods_info .title
a{color:#8d8d8d}.main .jiu_right .apply_list .goods_info
.detail{width:95px;color:#8d8d8d;float:left;margin-left:25px;_margin-left:15px;height:36px;line-height:36px;border-right:#d7d7d7 dashed 1px;display:inline;margin-top:10px}.main .jiu_right .apply_list .goods_info .detail
.price{font-family:"微软雅黑","verdana";padding-right:10px;height:14px}.main .jiu_right .apply_list .goods_info .detail
.number{height:14px;color:#8d8d8d}.main .jiu_right .apply_list .goods_info .detail .number
em{color:#ff7201;font-size:30px;font-family:Arial;vertical-align:-2px;margin-right:2px}.main .jiu_right .apply_list .goods_info .juan-detail .number
em{font-size:22px}.main .jiu_right .apply_list .goods_info
.infos{width:90px;color:#8f8f8f;float:left;margin-left:10px;margin-top:10px}.main .jiu_right .apply_list .goods_info .infos
span{color:#8d8d8d;width:100px;display:block;height:18px}.main .jiu_right .apply_list .goods_info
.switch{clear:both;width:140px;height:10px;padding-left:40px;margin:10px
auto 0px;overflow:hidden}.main .jiu_right .apply_list .goods_info .switch
li{height:10px;width:11px;float:left;margin-left:10px}.main .jiu_right .apply_list .goods_info .switch li
a{display:block;background:url(../images/switch.gif) no-repeat -13px 0;height:10px;width:11px}.main .jiu_right .apply_list .goods_info .switch li a:hover{background-position:0 0}.main .jiu_right .apply_list .goods_info .switch .active
a{background-position:0 0}.main .jiu_right .apply_info
.goods_info{border-bottom:none;padding:4px
15px 3px}.main .jiu_right .apply_info .goods_info
.goods_img{height:80px;width:80px;border:#e9e9e8 solid 1px}.main .jiu_right .apply_info .goods_info
.goods_detail{width:108px}.main .jiu_right .apply_info .goods_info .goods_detail
.goods_title{height:36px;line-height:18px}.main .jiu_right .apply_info .goods_info
.pre_info{height:auto;clear:both;margin-bottom:8px}.main .jiu_right .apply_info .goods_info
.says_name{color:#ff7201;font-weight:bold}.main .jiu_right .apply_info .goods_info
.apply_by{color:#8d8d8d;font-weight:bold}.main .jiu_right .apply_info .goods_info
.num{width:108px;text-align:right;margin-top:20px;color:#8d8d8d}.main .jiu_right .apply_info .goods_info .num
b{font-size:16px;color:#93bd2f;vertical-align:-2px}.main .jiu_right
.applay_goods{width:230px;margin-top:0px;padding:0px}.main .jiu_right .applay_goods
h3{background:none repeat scroll 0 0 #F9F9F9;border-bottom:1px solid #F1F1F1;color:#8D8D8D;height:38px;line-height:38px;padding:0
15px}.main .jiu_right .applay_goods .price
.cur_price{font-size:16px;color:#6db110;font-family:"微软雅黑","verdana"}.main .jiu_right .applay_goods .price
.org_price{text-decoration:line-through;color:#999;margin-left:3px}.main .jiu_right .applay_goods .go_buy
a{background:url("../images/jiu_item.gif") no-repeat scroll 0 -711px transparent;color:#FFF;display:block;font-size:12px;height:22px;text-align:center;width:73px;line-height:20px;float:right;margin-top:8px}.main .jiu_right .applay_goods .go_buy a:hover{background-position:-78px -711px;text-decoration:none}.main .jiu_right
.sign_btn{margin-top:10px}.main .jiu_right .sign_btn
a{display:block;width:200px;height:46px;background:#fff;padding:15px;cursor:pointer}.main .jiu_right .sign_btn a
i{background:url(../images/try_total.gif) no-repeat -3px -3px;width:54px;height:46px;display:block;float:left}.main .jiu_right .sign_btn a
span{font-size:24px;color:#ff7201;font-family:"微软雅黑","宋体";height:46px;line-height:46px;display:block;float:left;margin-left:30px;*margin-left:17px;_margin-left:17px}.main .jiu_right .double-info{width:230px}.main .jiu_right .double-info
ul{padding:15px
15px 0px;width:200px;height:auto;overflow:hidden}.main .jiu_right .double-info ul
li{float:left;margin-right:20px;padding-bottom:10px;width:90px;overflow:hidden;height:auto}.main .jiu_right .double-info ul li
a{display:block;width:90px;height:90px}.main .jiu_right .double-info ul li a:hover{opacity:0.9;filter:alpha(opacity=90)}.main .jiu_right .double-info ul li
.detail{color:#ababab;text-align:center}.main .jiu_right .double-info ul li .detail
.price{color:#ff7201;font-size:15px}.main .jiu_right .double-info ul li .detail .price
em{color:#ababab;font-size:10px;font-family:"微软雅黑","verdana"}.main .jiu_right .double-info ul li .detail
.baoyou{color:#ababab;margin-left:2px;vertical-align:1px}.main .jiu_right .double-info ul li .detail
.buy_over{display:block;text-align:center;font-weight:bold;margin-top:1px}.main .jiu_right
.per_logo{padding:10px;background:url(../images/per_bg.jpg) repeat;width:210px !important;position:relative}.main .jiu_right .per_logo
.per_info{width:196px;height:auto;overflow:hidden;background:#fff;padding:7px;background:url(../images/jiu_item.gif) no-repeat -190px -391px;height:61px;padding-bottom:0px}.main .jiu_right .per_logo .per_info
.per_icon{height:54px;width:54px;overflow:hidden;float:left;margin-right:10px}.main .jiu_right .per_logo .per_info
.per_detail{float:left;height:auto;overflow:hidden;width:124px;_margin-top:-2px}.main .jiu_right .per_logo .per_info .per_detail
.per_user{height:16px;line-height:16px;overflow:hidden}.main .jiu_right .per_logo .per_info .per_detail
.per_name{color:#ff7201;font-size:14px;font-weight:bold}.main .jiu_right .per_logo .per_info .per_detail
.attention{margin-top:15px}.main .jiu_right .per_logo .per_info .per_detail .attention .addfo,.main .jiu_right .per_logo .per_info .per_detail .attention
.fo{background:url(../images/total_zone.gif) no-repeat scroll -79px -153px transparent;display:block;height:21px;overflow:hidden;text-align:center;text-indent:-999px;width:56px;float:left}.main .jiu_right .per_logo .per_info .per_detail .attention
.fo{background-position:-79px -175px}.main .jiu_right .per_logo .per_info .per_detail .attention
.letterfo{background:url(../images/total_alert.gif) no-repeat -126px -693px;display:block;height:16px;line-height:16px;float:right;color:#aaa;padding-left:18px;margin-top:2px}.main .jiu_right .per_logo
.atten_much{color:#808080;margin-top:7px;margin-bottom:10px;height:auto;overflow:hidden}.main .jiu_right .per_logo .atten_much
span{display:block;float:left}.main .jiu_right .per_logo .atten_much
.at_many{margin-left:15px}.main .jiu_right .per_logo .atten_much span
a{color:#0289cd;text-decoration:underline;font-weight:bold}.main .jiu_right .per_logo .atten_much span a:hover{text-decoration:none}.main .jiu_right
.applay_shop{margin-top:0px}.main .jiu_right .applay_shop
.pic{margin:0
auto;height:120px;width:120px;overflow:hidden;border:#e9e9e8 solid 1px}.main .jiu_right .applay_shop
.shop_name{width:120px;margin:0
auto;text-align:center}.main .jiu_right .applay_shop .shop_name
span{color:#818181;background:url(../images/try_total.gif) no-repeat right -160px;padding-right:20px;height:16px;line-height:16px;margin-top:10px;display:inline-block;overflow:hidden}.main .jiu_right .applay_shop .tao_name
span{background-position:right -214px}.main .jiu_right .applay_shop .go_shop
a{display:block;background:url(../images/try_total.gif) no-repeat 0 -368px;height:38px;width:107px;text-align:center;font-size:14px;color:#333;line-height:36px;margin:0
auto;margin-top:10px;font-weight:bold}.main .jiu_right .applay_shop .go_shop a:hover{text-decoration:none}.main
.normal_right{margin-top:16px}