.spread-list{width:989px;height:auto;overflow:hidden}.spread-list .top-explain{border-bottom:#c77c61 solid 2px;margin-bottom:20px;padding-bottom:2px;width:980px;height:auto;overflow:hidden;position:relative}.spread-list .top-explain .txt-explain{margin:17px
0 0 5px}.spread-list .top-explain
.logo{background:url(/jky/w/new/img/total/seckill-total.gif) no-repeat 0 -159px;width:68px;height:40px;margin-left:20px}.spread-list .top-explain .logo-brand{background-position:0 -203px;width:78px}.spread-list .top-explain .txt-explain
em{display:block;float:left;background:url(/jky/w/new/img/session/left-cur.gif) no-repeat;width:5px;height:10px;margin-top:4px}.spread-list .top-explain .txt-explain
p{background:#c77c61;color:#fff;padding:0
3px;height:18px;float:left;line-height:16px}.spread-list .top-explain
.txt{margin:15px
25px 0 0}.spread-list .top-explain .txt
a{color:#a3370f}.spread-list .top-explain .txt a:hover{text-decoration:underline}.spread-list .top-explain
.line{width:18px;height:3px;position:absolute;bottom:0px;right:0px;background:#c77c61}.spread-list .other-box{width:210px;padding:14px;height:auto;background:#fff;box-shadow:1px 1px 0 rgba(226,226,226,0.75);margin-bottom:9px;float:left;margin-right:9px}.spread-list .other-box
.pic{width:210px;height:105px;overflow:hidden}.spread-list .other-box .pic
img{width:210px;height:105px}.spread-list .other-box
.detail{position:relative;height:34px;width:210px}.spread-list .other-box .detail
span{display:block;float:left;margin-top:12px}.spread-list .other-box .detail .session-name{font-size:14px}.spread-list .other-box .detail
.discount{color:#f60;font-size:14px;margin-left:5px}.spread-list .other-box .detail
.btn{display:block;position:absolute;top:8px;right:0;background:url(/jky/w/new/img/total/session-total.gif) no-repeat 0 0;height:28px;width:70px}.spread-list .other-box .detail
.btn.see{background-position:0 -370px}.spread-list .other-box .detail .btn.see:hover{background-position:0 -398px}.main .tips-contain{width:980px;height:auto;overflow:hidden;background:#fff;position:relative;padding:35px
0 15px;margin:0
0 20px 0;clear:both}.main .double-con{background:#f9f9f9;padding:20px
0;margin-bottom:20px}.main .double-con .double-tips{background:url(../images/yugao.jpg) no-repeat;width:859px;height:579px;margin:0
auto}.main .tips-con{width:980px;height:auto;overflow:hidden;background:#fff;position:relative}.main .tips-fo01{padding-bottom:200px}.main .tips-fo03{padding-bottom:200px}.main .tips-con
.con{width:747px;height:228px;margin:0
auto}.main .tips-con
.arrows{background:url(../images/arrows.gif) no-repeat;height:103px;width:77px;display:block;position:absolute;bottom:0px;right:120px}.main .tips-con .con .tips-img{background:url(../images/tips-img01.gif) no-repeat;width:256px;height:215px;float:left;margin-left:10px}.main .tips-fo02 .con .tips-img{background:url(../images/tips-img02.gif) no-repeat;width:243px;height:248px}.main .tips-fo03 .con .tips-img{background:url(/jky/w/new/img/tips/tips-img03.gif) no-repeat;width:237px;height:237px}.main .tips-con .con .txt-tips{width:485px;height:auto;margin:80px
0 0 -20px;float:left}.main .tips-con .con .txt-tips01{margin:80px
0 0 0;width:747px;text-align:center}.main .tips-con .con .txt-tips .txt-img{width:auto;height:auto;line-height:30px;position:relative;color:#ff7a70;font-size:24px;font-family:"微软雅黑","宋体";display:inline-block;margin-bottom:10px}.main .tips-con .con .txt-tips .txt-img
.fly{position:absolute;display:block;background:url(../images/butterfly.gif) no-repeat;width:35px;height:30px;right:-30px;top:-10px}.main .tips-con .con .txt-tips .txt-img
span{font-size:20px}.main .tips-con .con .txt-tips
.txt{color:#777;font-size:14px;line-height:26px}.main .tips-con .con .txt-tips .txt
a{color:#0289cd;text-decoration:none}.main .tips-con .con .txt-tips .txt a:hover{text-decoration:underline}.main .tips-con .con .txt-tips .search-tao{width:434px;height:auto;overflow:hidden;margin-top:8px}.main .tips-con .con .txt-tips .search-tao .tao-img{display:block;background:url(../images/yitao-total.gif) no-repeat;width:63px;height:47px;margin-right:5px}.main .tips-con .con .txt-tips .search-tao
.search{width:366px;height:auto;overflow:hidden}.main .tips-con .con .txt-tips .search-tao .search
.area{height:41px;width:309px;border:#3780e9 solid 3px;display:block;float:left;border-right:none}.main .tips-con .con .txt-tips .search-tao .search .area
.text{border:none medium;height:30px;width:304px;margin:5px
0 0 3px;background:none}.main .tips-con .con .txt-tips .search-tao .search
.btn{background:url(../images/yitao-total.gif) no-repeat -69px 0;width:54px;height:47px;float:left;border:none medium;cursor:pointer}.main .tips-con .con .txt-tips .search-tao .txt-tao{clear:both;padding-top:5px;text-align:right}.main .tips-contain .tom-tips{width:640px;margin:10px
auto 50px;height:130px;border:#d7d7d7 solid 1px;box-shadow:1px 1px 1px #E2E2E2;position:relative}.main .tips-contain .tom-tips .tips-em{background:url(../images/tom-tips.png) no-repeat;width:137px;height:52px;position:absolute;display:block;top:-15px;left:-25px}.main .tips-contain .tom-tips
.box{padding:40px
15px 20px}.main .tips-contain .tom-tips .box
p{color:#777;font-size:14px;line-height:26px;background:url(../images/circle.gif) no-repeat 0 10px;text-indent:15px}.main .tips-contain .tom-tips .box p .time-tips{background:url(../images/time-box.gif) no-repeat;width:54px;height:29px;display:inline-block;color:#fff;text-indent:10px}.main .tips-contain .qixi-tips{height:150px}.main .tips-contain .qixi-tips
.box{padding:10px
15px 20px}.main .tips-contain .seckill-tips .tips-em{background:url(../images/seckill-tips.png) no-repeat;width:137px;height:46px}.main .tips-contain .seckill-tips{width:350px;height:110px}.main .tips-content{width:980px;height:auto;overflow:hidden}.main .tips-content .other-buy{padding:0
10px 20px;width:960px;height:auto;overflow:hidden}.main .tips-content .other-buy
span{display:block;float:left;font-size:14px;color:#777}.main .tips-content .other-buy
.more{float:right}.main .tips-content .other-buy .more
a{color:#FF9000;font-weight:normal}.main .tips-qixi{height:40px;padding:15px
0 15px;line-height:40px}.main .tips-qixi .tips-con
.con{height:auto}.main .tips-qixi .tips-con .con .txt-tips01{margin-top:5px}.main .tips-qixi .tips-con .con .txt-img{margin-bottom:0px;font-size:20px}.main
.nav_con{height:auto;width:730px;overflow:hidden}.main .nav_con
.top_nav{height:41px;width:710px;overflow:hidden;position:relative;padding-left:20px}.main .nav_con .top_nav ul
li{float:left;margin-left:-10px}.main .nav_con .top_nav ul
li{height:41px;width:142px;position:relative}.main .nav_con .top_nav ul li
a{height:41px;line-height:42px;text-align:center;display:block;font-size:14px;color:#fff;background:url(../images/normal_cur.png) no-repeat;width:142px;position:absolute;top:0;left:0;font-weight:bold}.main .nav_con .top_nav ul li a:hover{text-decoration:none}.main .nav_con .top_nav ul .index_normal a:hover{text-decoration:none}.main .nav_con .top_nav ul .index_cur
a{color:#dc442f;z-index:5;background:url(../images/active_cur.png) no-repeat}.main .nav_con .top_nav ul
.other_normal{width:157px;height:41px}.main .nav_con .top_nav ul .other_normal
a{background:url(../images/normal_active.png) no-repeat;width:157px}.main .nav_con .top_nav ul .normal_02
a{z-index:1}.main .nav_con .top_nav ul .other_active
a{z-index:5;background:url(../images/active_normal.png) no-repeat;color:#dc442f}.jiu_comment{height:auto;padding:10px
15px 0px;background:#fff;width:700px}.jiu_comment
h4{color:#727272;font-size:14px;font-weight:bold}.jiu_comment
.pub_box{width:700px;height:auto;border-bottom:#f2f2f2 solid 1px}.jiu_comment .pub_box:after{content:".";display:block;height:0;clear:both;visibility:hidden}.jiu_comment
.try_box{border:none medium}.jiu_comment .pub_box
.pub_top{height:36px;background:#f5f5f5;padding-left:10px}.jiu_comment .pub_box .pub_top ul
li{float:left;height:30px;line-height:30px;margin-top:6px}.jiu_comment .pub_box .pub_top ul
li.active{background:#fff}.jiu_comment .pub_box .pub_top ul li
a{display:inline-block;padding:0
15px;color:#000;font-size:14px}.jiu_comment .pub_box .pub_top ul li a:hover{text-decoration:none}.pub_area{clear:both;padding-top:20px;width:700px}.pub_area
.pub_txt{border:1px
solid #CCC;height:52px;line-height:16px;margin-top:5px;overflow:hidden;padding:5px;resize:none;width:660px;font-size:12px;-moz-box-shadow:2px 2px 3px #ECECEC inset;-webkit-box-shadow:2px 2px 3px #ECECEC inset;box-shadow:2px 2px 3px #ECECEC inset;color:#999;margin-left:15px}.pub_area_ft{margin-top:10px;margin-left:15px}.pub_area_ft
form{position:relative}.pub_area_ft
.add_face{background:url(../images/total_item.gif) no-repeat scroll -101px -224px transparent;display:block;height:14px;width:14px;float:left;padding-left:20px;margin-right:5px;height:20px;width:30px;line-height:12px;color:#92BD2F;margin-top:4px}.pub_area_ft .add_face:hover{text-decoration:none}.pub_area_ft
.add_file{border:0
none;cursor:pointer;height:20px;left:0;opacity:0;position:absolute;width:50px;z-index:1}.pub_area_ft .add_file:hover{text-decoration:none}.pub_area_ft
.add_pic{display:block;float:left;height:20px;margin-right:5px;background:url(../images/total_icon.gif) no-repeat scroll 0 -254px transparent;color:#92BD2F;padding-left:22px;margin-top:3px}.pub_area_ft
.pub_btn{background:url(../images/try_total.gif) no-repeat scroll 0 -305px transparent;color:#FFF;display:block;font-weight:600;height:28px;line-height:26px;margin:0
13px 0 5px;text-align:center;width:80px;float:right}.pub_area_ft .pub_btn:hover{background-position:-83px -305px}.pub_area_ft a.pub_btn:hover{text-decoration:none;color:#FFF}.pub_area_ft
.go_sun{position:absolute;top:25px;left:-50px;height:20px;background:#fffbef;border:#ffba75 solid 1px;z-index:10;padding:4px
6px;color:#dc7d21;font-size:12px;display:none;width:150px;_width:80px}.pub_area_ft .go_sun
p{height:22px;line-height:22px;text-shadow:none;font-weight:normal;font-family:"宋体"}.pub_area_ft .go_sun p
a{color:#0289cd;background:none;position:static;height:auto;width:auto;display:inline}.pub_area_ft .go_sun
em{background:url(../images/top_cur.gif) no-repeat;width:9px;height:6px;position:absolute;top:-5px;left:60px}.pub_area
.pub_out{padding:2px
0}.pub_area .pub_out
input{line-height:12px;margin-right:3px;vertical-align:-2px}.note_comment{margin-top:10px;margin-left:5px}.note_comment
.c_l{background-color:#FFF;padding-bottom:20px}.note_comment .c_l
center{margin:40px
0px}.note_comment .c_l
li{min-height:40px;padding:10px
0;overflow:hidden;height:auto}.note_comment .c_l
.avt{border:#e9e9e8 solid 1px;float:left;height:34px;width:34px;overflow:hidden}.note_comment .c_l li
.sms{color:#666;line-height:18px;padding:0
0px 0 48px}.note_comment .c_l .sms
img{width:20px;height:20px;vertical-align:-5px}.note_comment .c_l .sms
a{color:#09E}.note_comment .c_l li .sms
.icard{color:#ff7201}.note_comment .c_l .sms
span{color:#ccc;font-size:12px}.note_comment .c_l
div{text-align:right;padding:7px
0px 0 48px;clear:both}.note_comment .c_l div
a{color:#2571BD}.note_comment .c_l div
span{color:#ccc;font-size:12px;float:left}.note_comment .c_l div
.jubao{color:#808080;font-size:12px;margin-right:10px}.note_comment .c_l
.pic{padding:10px
0 0 24px;float:left;font-size:0;overflow:hidden;padding-top:7px;width:100%}.note_comment .c_l .pic
div{background-color:#FFF;display:inline-block;float:left;margin:0
5px 5px 0;padding:0
0 0 24px}.note_comment .c_l .pic div
img{border:1px
solid #E9E9E8;cursor:url("http://s.xdimg.com/img/big.cur"), auto}.note_comment .c_l .pic div
img{border:1px
solid #E9E9E8;cursor:url("http://s.xdimg.com/img/big.cur"), auto}.note_comment .c_l
.pic_b_f{background-color:#FFF;border:1px
solid #F2F2F2;display:none;margin:20px
0;overflow:hidden;padding:3px;width:458px;clear:both;float:left;height:auto;margin-left:49px}.note_comment .pic_b_f
.c{background:url(../images/total_zone.gif) no-repeat scroll -121px -41px transparent;float:right;height:30px;line-height:30px;margin-right:10px;padding-bottom:5px;text-indent:20px;padding:0px}.note_comment .pic_b_f
.p{clear:both;cursor:url("http://s.xdimg.com/img/small.cur"), auto;margin-bottom:10px;text-align:center;padding:0px}.note_comment .pic_b_f .p
img{border:1px
solid #F2F2F2}.pub_img_box{overflow:hidden;clear:both;padding-left:10px;width:630px}.put_order_box{padding-left:40px}.pub_img
li{border:1px
solid #ccc;float:left;height:80px;margin-top:10px;margin-right:15px;padding:2px;position:relative;width:80px}.pub_box .pub_area .pub_img_default
li{margin:0px}.pub_img li
img{height:80px;width:80px}.pub_img li
.close{background:url(../images/total_icon.gif) no-repeat scroll 0px -582px transparent;display:block;height:20px;position:absolute;right:-10px;top:-11px;width:20px}.pub_img
li.p_i_default{border-style:dashed}.pub_img li.p_i_default
a{background:url(/jky/w/new/img/zone/pub_default_img_hover.gif) no-repeat scroll 0px 0px transparent;display:block;height:80px;width:80px;overflow:hidden;line-height:120px;text-align:center;font-weight:bold;font-size:14px;color:#fff}.pub_img li.p_i_default a:hover{background:url(/jky/w/new/img/zone/pub_default_img.gif) no-repeat scroll 0px 0px transparent;text-decoration:none}.pub_img li.p_i_loading
a{background:url(/jky/w/new/img/zone/pub_loading_img.gif) no-repeat scroll 0px 0px transparent;line-height:40px}.t_l{clear:both;padding:0
15px;padding-bottom:60px}.t_l
.t_f{padding:20px
40px 20px 0;border-bottom:1px solid #f2f2f2;height:auto;overflow:hidden;clear:both}.t_l
.no{border-bottom:none}.t_l
.time{float:right}.t_l .time
.t{color:#ccc;float:left}.t_l .time a.t:hover{text-decoration:none}.t_l
.time_b{color:#CCC;float:left;font-size:14px}.t_l
.fav_label{height:40px;position:relative;top:-5px;width:400px}.t_l
.fl_p{position:absolute}.t_l .fl_p
div{background-color:#FFF1DA;float:left;height:31px;line-height:31px;border-radius:0 3px 3px 0}.t_l .fl_p
.n{margin:0px
3px 0px 18px;_margin-left:9px;text-decoration:none;color:#F50}.t_l .fl_p
span{color:#5F5E5C;padding-right:15px}.t_l
.hd{position:absolute;width:54px}.t_l
.zone_name{width:60px;padding-left:5px;padding-top:3px}.t_l
.title{margin:8px
0}.t_l .title
a{color:#727272;font-size:14px;font-weight:bold}.t_l .title
span{color:#727272;font-size:14px;font-weight:bold}.t_l .zone_name
a{color:#FF7201;font-size:12px;font-weight:bold}.t_l .hd
img{height:54px;width:54px;border:#e9e9e8 solid 1px}.t_l
.followdiv{margin-top:6px}.t_l .addfo,.t_l
.fo{background:url(../images/total_zone.gif) no-repeat scroll -79px -153px transparent;display:block;height:21px;overflow:hidden;text-align:center;text-indent:-999px;width:56px}.t_l
.fo{background-position:-79px -175px}.t_l
.tk{padding:0
0 0 70px}.t_l
.inf{}.t_l .inf
.username{font-size:12px;font-weight:bold;padding-right:5px;color:#ff7201}.t_l .inf a.username:hover{text-decoration:none}.t_l .inf
.trends_type{height:18px;line-height:16px;padding:0
5px;background:#ff9c00;color:#fff}.t_l .inf
span{color:#999;white-space:nowrap}.t_l .inf span
a{color:#F50}.t_l .inf span
img{vertical-align:-6px}.t_l
.text{font-size:12px;line-height:22px;color:#727272;width:600px}.t_l .text
img{vertical-align:-6px;margin:0
2px}.t_l .text
a{color:#09E}.t_l
.reply{clear:both;float:right}.t_l .reply
a{background:url(../images/total_alert.gif) no-repeat scroll -126px -693px transparent;color:#0289CD;display:block;height:16px;line-height:16px;padding-left:18px}.t_l
.pic{font-size:0;position:relative;width:100%;overflow:hidden;padding-top:7px}.t_l .pic
div{background-color:#FFF;display:inline-block;margin:0px
5px 5px 0;display:inline-block;position:relative;float:left}.t_l .pic div
img{border:#e9e9e8 solid 1px;cursor:url("../images/big.cur"), auto}.t_l .pic .pic_s
img{cursor:pointer}.t_l .pic
.hover{}.t_l .pic
em{bottom:0px;position:absolute;right:0px;background:url(../images/total_icon.gif) no-repeat scroll 3px -698px transparent;background-color:#fff;height:14px;width:15px;padding-bottom:3px;padding-right:3px;border-radius:3px;z-index:1}.t_l .pic
.pic_s{overflow:hidden;height:auto;font-size:12px;cursor:default;background:#fbfbfb;padding:5px}.t_l .pic .pic_s
.p_s_img{float:left}.t_l .pic_s
p{padding:0px
0 3px 8px;float:left;width:330px;color:#727272}.t_l .pic_s p
span{color:#727272}.t_l .pic_s p
.org_p{color:#aaa;margin-left:5px}.t_l .pic_s p .org_p
b{font-weight:normal;text-decoration:line-through}.t_l .pic_s
.nowrap{overflow:hidden;white-space:nowrap}.t_l .pic_s p a:hover{color:#09E}.t_l .pic_s p
.gray_3{padding-left:10px;color:#aaa}.t_l .pic_s
em{left:89px;bottom:3px}.t_l .pic .pic_s
.go_buy{height:22px;width:73px;display:block;position:absolute;right:10px;bottom:10px;color:#fff;text-align:center;line-height:22px;font-size:12px;background:url(../images/jiu_item.gif) no-repeat scroll 0 -711px transparent}.t_l .pic .pic_s a.go_buy:hover{text-decoration:none;background-position:-78px -711px}.t_l
.pic_b_f{display:none;background-color:#FFF;border:1px
solid #f2f2f2;display:none;margin:20px
0;overflow:hidden;padding:3px;position:relative;width:458px;height:auto;clear:both;float:left}.t_l .pic_b_f
.t{padding:10px
20px;height:26px}.t_l .pic_b_f .t
.title{color:#09E;float:left;line-height:22px;margin-top:2px;max-width:190px;_width:190px;height:22px;overflow:hidden;margin-right:5px}.t_l .pic_b_f .t .title:hover{text-decoration:underline}.t_l .pic_b_f .t .tao,.t_l .pic_b_f .t .fan,.t_l .pic_b_f .t .zhe,.t_l .pic_b_f .t .yuan,.t_l .pic_b_f .t
.gou{text-indent:17px;margin-right:3px;display:block;float:right;height:16px;line-height:16px;margin-top:6px;background:url(../images/total_icon.gif) no-repeat scroll 0px -65px transparent}.t_l .pic_b_f .t
.tao{width:16px;float:left}.t_l .pic_b_f .t
.fan{background-position:0px -91px}.t_l .pic_b_f .t
.zhe{background-position:0px -1007px}.t_l .pic_b_f .t
.yuan{background-position:0px -972px}.t_l .pic_b_f .t
.gou{background:none;color:#727272}.t_l .pic_b_f .t
.buy_url{background:url(../images/jiu_item.gif) no-repeat scroll 0 -711px transparent;display:block;float:right;height:23px;text-align:center;color:#fff;line-height:22px;line-height:24px \9;width:73px;margin-top:2px}.t_l .pic_b_f .t .buy_url:hover{background-position:-78px -711px}.t_l .pic_b_f .t a:hover{text-decoration:none}.t_l .pic_b_f
.c{float:right;margin-right:10px;height:30px;line-height:30px;padding-bottom:5px;text-indent:20px;background:url(../images/total_zone.gif) no-repeat scroll -121px -41px transparent;background-position:-121px -42px \9}.t_l .pic_b_f .c a:hover{text-decoration:none}.t_l .pic_b_f
.p{margin-bottom:10px;text-align:center;clear:both;cursor:url("../images/small.cur"), auto}.t_l .pic_b_f .p
img{border:#f2f2f2 solid 1px}.t_l
.tl{clear:both;height:20px;padding-top:10px;text-align:right}.t_l .tl
.fav{background:url(../images/total_zone.gif) no-repeat scroll -87px -19px transparent;color:#FFF;float:left;height:18px;line-height:16px;padding:0
5px 0 0;width:43px}.t_l .tl
.favCount{background:url(../images/total_zone.gif) no-repeat scroll -69px 0px transparent;color:#FE7201;display:block;float:left;font-size:12px;font-weight:bold;height:18px;line-height:16px;margin-left:2px;padding:0
0 0 5px;width:auto}.t_l .tl .favDiv
i{background:url(../images/total_zone.gif) no-repeat scroll -130px 0px transparent;display:block;float:left;height:18px;width:5px}.t_l .tl
a{background:url(../images/total_icon.gif) no-repeat scroll 4px -276px transparent;color:#0289cd;padding:3px
5px 0 20px;font-weight:500}.t_l .tl a:hover{text-decoration:none}.t_l .tl
.del{background:none}.t_l .tl
.fw{background-position:4px -299px}.t_l .tl
.cmt{background-position:4px -320px}.t_l .tl a.share:hover{background-position:4px -337px}.t_l .tl a.fw:hover{background-position:4px -358px}.t_l .tl a.cmt:hover{background-position:4px -379px}.t_l .tl
.fw_h{background-position:4px -358px}.t_l .tl
.cmt_h{background-position:4px -379px}.t_l
.time_c{font-size:12px;color:#ccc;float:left}.t_l
.t_f{border-bottom:1px solid #F3F3F3}.t_l
.no{border-bottom:none}.t_l
.goodstitle{color:#818181;line-height:24px}.t_l .goodstitle
img{vertical-align:middle}.t_l .goodstitle
a{color:#0289cd}.t_l
.q{margin-top:5px;padding:0px
0px 10px;width:620px}.t_l .q
.j{display:block;height:8px;width:15px;background:url(../images/total_zone.gif) no-repeat scroll -50px -172px transparent;margin:-14px 0 0 20px;position:absolute}.t_l .q
.text{font-size:12px}