.jiu_bd .goods_box .inner_box
h3{padding:10px
0 0 0;margin-bottom:10px}.jiu_bd .juandou_box .inner_box
.pic{border:#f3f3f3 solid 1px}.jiu_bd .juandou_box
.juan_detail{width:220px;margin:0
auto;height:46px;line-height:46px}.jiu_bd .juandou_box .juan_detail
.juan_price{float:right}.jiu_bd .juandou_box .juan_detail
span{display:block;float:left;color:#666}.jiu_bd .juandou_box .juan_detail
.current_price{font-size:16px;font-family:"微软雅黑","verdana";color:#6db110;margin-right:3px}.jiu_bd .juandou_box .juan_detail .current_price
b{font-weight:normal;font-size:14px}.jiu_bd .juandou_box .juan_detail
.original_pirce{font-size:12px;text-decoration:line-through;color:#999;margin-right:10px}.jiu_bd .juandou_box .juan_detail
.all_juandou{font-weight:normal;font-family:"微软雅黑","verdana";font-size:18px;color:#f50;vertical-align:middle}.jiu_bd .juandou_box
.remain{position:absolute;right:0px;bottom:0px;zoom:1;height:22px;line-height:22px;width:220px;background:#fff}.jiu_bd .juandou_box
.remain_num{background-color:#49BC0D;color:#fff;float:right;padding:0
5px;width:58px;text-align:center}.jiu_bd .juandou_box
.re_time{background-color:#49BC0D;color:#fff;width:141px;float:left;padding:0
5px}.jiu_bd .juandou_box
.cheng_time{background-color:#ff7000}.jiu_bd .juandou_box
.cheng_num{background-color:#ff7000}