.page{padding:10px
0 15px;margin-top:0px;clear:both;overflow:hidden;text-align:center}.page a,.page span,.page
i{background:none repeat scroll 0 0 #FF6C01;border-radius:3px 3px 3px 3px;color:#FFF;font-weight:bold;margin-left:5px;overflow:hidden;padding:3px
8px}.page a:hover{text-decoration:none;color:#fff;background-color:#FF9C00}.page
span{background:none repeat scroll 0 0 transparent;border:medium none;color:#FF6C01;font-weight:bold}.page{text-align:right}.page a, .page span, .page
i{border-radius:0px 0px 0px;background:#fff;color:#6c6c6c;border:#ebebeb solid 1px;font-weight:normal}.page a:hover{background:#fff;color:#f50}.page
span{font-weight:normal;color:#f50;background:#f6f6f6}.page
i{border:none;background:none;padding:0
3px;color:#6C6C6C}