


.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_buy {
	background-position: 0 -145px
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_wait {
	background-position: 0 -349px;
	text-shadow: 1px 1px 3px rgba(84, 175, 2, 0.85)
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_end {
	background-position: 0 -227px
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_sellout {
	background-position: 0 -432px
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_begin {
	background-position: 0 -350px
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action  a:hover {
	text-decoration: none
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_buy:hover {
	background-position: 0 -268px
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_wait:hover {
	background-position: 0 -390px
}
.main .item_containt .jiu_goodsinfo .goods_con .goods_detail .buy-action .tag_begin:hover {
	background-position: 0 -391px
}






































































