


.nav-channel li {width: auto;}

.list-sort li a .sort-sign {background: url(http://img03.taobaocdn.com/tps/i3/T1dOeGXv8hXXak88A4-11-200.png) no-repeat -1px -40px;_background: url(http://img02.taobaocdn.com/tps/i2/T1lyWVXCBbXXak88A4-11-200.png) no-repeat -1px -37px;height: 10px;width: 10px;display: inline-block;vertical-align: 3px;margin-right: -5px;}
.widescreen .nav-channel li .ju_nav {padding-left: 15px;padding-right: 15px;}
.widescreen .nav-channel li a {border: 0px solid #E2E2E2;border-top: 1px solid #E2E2E2;border-bottom: 1px solid #E2E2E2;}

.nav-channel li a {_width: 32px;min-width: 32px;}

.head .nav .navigation {width: 700px;}
.head .nav .state-show {width: 280px;}

.goods-list li {height: 394px;}
.pic-img {width: 290px;height: 270px;}

.good-price .btn.tag_buy {background-position:-212px -462px;}
.good-price .btn.tag_end {background-position:-396px -462px;}
.good-price .btn.tag_sellout {background-position:-396px -422px;}
.good-price .btn.tag_wait {background-position:-396px -376px;}

.good-price .btn.tag_buy:hover {background-position:-212px -421px;}
.good-price .btn.tag_end:hover {background-position:-396px -422px;}
.good-price .btn.tag_sellout:hover {background-position:-396px -462px;}
.good-price .btn.tag_wait:hover {background-position:-396px -332px;}

.good-title .title {width: 270px;}


















