
h3 {font-size: 14px;}
a {color: #5E5E5E;text-decoration: none;}

.mains {height: auto;overflow: hidden;width: 1000px;margin: 0 auto;}
.piece {margin-bottom: 15px;width: 1000px;overflow: hidden;}
.jiu_goods {background: url(image/new/img/background_bg.png) repeat;}


.mains .exch_content {width: 760px;height: auto;overflow: hidden;}
.mains .item_containt {height: auto;width: 760px;overflow: hidden;background: white;min-height: 700px;}
.mains .item_containt .jiu_goodsinfo {height: auto;padding: 15px;width: 730px;overflow: hidden;background: white;position: relative;}
.mains .item_containt .jiu_goodsinfo h3 a {color: black;font-size: 20px;font-family: "微软雅黑","宋体";font-weight: normal;}

.mains .item_containt .jiu_goodsinfo .goods_con {height: auto;overflow: hidden;width: 730px;margin: 15px 0 7px 0;}
.mains .item_containt .jiu_goodsinfo .goods_con .pic {height: 310px;width: 310px;float: left;text-align: center;overflow: hidden;margin-right: 24px;background: url(/image/new/img/shareinfo_show_big_wrap_bg.jpg) repeat;}
.mains .item_containt .jiu_goodsinfo .goods_con .pic a img {max-width: 310px;}




.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail {width: 363px;float: left;position: relative;height: 313px;position: relative;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .price_tag {background: url(image/new/img/jiu_item.gif) no-repeat 0 0;height: 68px;width: 355px !important;line-height: 68px;font-size: 44px;color: white;padding-left: 20px;position: relative;font-family: "Microsoft Yahei","Arial","Verda","tahoma";font-weight: bold;top: 3px;left: -4px;-moz-box-shadow: -1px 3px 3px rgba(196,194,181,0.6);box-shadow: -1px 3px 3px rgba(196, 194, 181, 0.6);text-shadow: 0 0 0 transparent, 1px 1px 1px #8A181B;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .price_tag a {display: block;position: absolute;background: url(image/new/img/jiu_item.gif) no-repeat 0 -294px;height: 42px;width: 115px;top: 14px;right: 18px;overflow: hidden;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .tag_juandou {background-position: 0 -598px;height: 50px;line-height: 50px;box-shadow: none;text-shadow: none;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .tag_juandou span {font-size: 14px;font-weight: normal;display: block;float: left;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .tag_juandou .nead_all {font-size: 24px;font-family: "微软雅黑","verdana";font-weight: bold;margin-right: 3px;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .tag_juandou a {height: 44px;width: 120px;background-position: 0 -659px;top: 0px;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .tag_juandou a:hover {background-position: -135px -659px;}
.mains .item_containt .jiu_goodsinfo .goods_con .juan_detail .goods_quan {padding: 10px 0px 0px 0px;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_quan {border: #FFE49E solid 1px;border-top: none;width: 347px !important;padding: 21px 11px 14px 3px;background: #FFFDEB;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .goods_juan p {color: #818181;font-size: 14px;line-height: 30px;margin-left: 15px;}
.mains .item_containt .jiu_goodsinfo .goods_con .juan_detail .change_bottom {height: 44px;border-top: #FFE9B1 dashed 1px;line-height: 44px;padding-left: 15px;width: 307px !important;margin-top: 8px;background: #FFFACE;overflow: hidden;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .change_bottom span {color: #999;font-size: 14px;display: block;float: left;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .change_bottom .current_price {font-size: 22px;color: #6CAE16;font-family: "微软雅黑","verdana";margin-right: 3px;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .change_bottom .org_price {font-size: 12px;text-decoration: line-through;margin-top: 2px;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .change_bottom .go_buy {width: 73px;height: 22px;line-height: 20px;line-height: 24px 9;_line-height: 20px;margin-top: 11px;float: right;margin-right: 20px;display: inline;}
.mains .item_containt .jiu_goodsinfo .goods_con .goods_detail .change_bottom .go_buy a {display: block;height: 22px;width: 73px;background: url(image/new/img/jiu_item.gif) no-repeat 0 -711px;color: white;font-size: 12px;text-align: center;}
.mains .item_containt .jiu_goodsinfo .goods_con .change_recommend {height: auto;width: 360px;overflow: hidden;margin-top: 8px;}
.mains .item_containt .jiu_goodsinfo .goods_con .change_recommend p {color: #999;line-height: 20px;}
.mains .item_containt .jiu_goodsinfo .goods_con .change_recommend p .comm_name {color: #92BD2F;}
.mains .item_containt .jiu_goodsinfo .goods_con .shareto {height: auto;overflow: hidden;position: absolute;bottom: 0px;right: 0px;}
.mains .item_containt .jiu_goodsinfo .goods_con .shareto .sharebaidu {float: right;}
.mains .item_containt .jiu_goodsinfo .goods_con .shareto .share_txt {color: #999;float: right;height: 37px;line-height: 38px;}


.mains .exch_content .exchang_ways {height: 80px;overflow: hidden;padding: 15px;background: white;margin-bottom: 15px;}
.mains .exch_content .exchang_ways .ways {background: url(image/new/img/juandou_total.gif) no-repeat 0 -228px;height: 18px;width: 149px;margin-bottom: 15px;}
.mains .exch_content .exchang_ways .step li {float: left;height: 50px;width: 154px;background: url(image/new/img/juandou_total.gif) no-repeat -237px 0;margin-right: 30px;}
.mains .exch_content .exchang_ways .step li a {display: block;cursor: pointer;height: 50px;width: 154px;}
.mains .exch_content .exchang_ways .step .ways_2 {background-position: -237px -62px;}
.mains .exch_content .exchang_ways .step .ways_3 {background-position: -237px -132px;width: 130px;}
.mains .exch_content .exchang_ways .step .ways_3 a {width: 130px;}
.mains .exch_content .exchang_ways .step .ways_4 {background-position: -237px -205px;width: 140px;margin-right: 0px;}
.mains .exch_content .exchang_ways .step .ways_4 a {width: 140px;}
.mains .exch_content .exchange_rule {background: white;padding: 0 15px;height: auto;overflow: hidden;padding-bottom: 20px;}
.mains .exch_content .exchange_rule h3 {color: #727272;margin-bottom: 10px;text-indent: 5px;}
.mains .exch_content .exchange_rule p {height: 30px;line-height: 30px;color: #818181;text-indent: 10px;}
.mains .exch_content .item_ways {margin-bottom: 0px;}
.mains .exch_content .item_ways .ways {background: none;font-size: 14px;font-weight: bold;color: #727272;}

.mains .jiu_right {width: 230px;height: auto;overflow: hidden;margin-top: 10px;}
.mains .jiu_right .per_logo {padding: 10px;background: url(image/new/img/per_bg.jpg) repeat;width: 210px !important;border-bottom: #E7E7E7 solid 1px;}
.mains .jiu_right .per_logo .per_info {width: 195px;height: auto;overflow: hidden;background: white;padding: 7px;height: 74px;width: 198px !important;padding-bottom: 0px;}
.mains .jiu_right .per_logo .per_info .per_icon {height: 54px;width: 54px;overflow: hidden;float: left;margin-right: 10px;}
.mains .jiu_right .per_logo .per_info .per_detail {float: left;height: auto;overflow: hidden;width: 124px;_margin-top: -2px;}
.mains .jiu_right .per_logo .per_info .per_detail .per_user {height: 16px;line-height: 16px;overflow: hidden;}
.mains .jiu_right .per_logo .per_info .per_detail .per_name {color: #6CAF11;font-size: 14px;font-weight: bold;}


.mains .jiu_right .per_logo .per_info .per_detail .all_juandou {color: #727272;margin-top: 4px;}
.mains .jiu_right .per_logo .per_info .per_detail .all_juandou a {color: #0289CD;cursor: pointer;}


.mains .jiu_right .per_logo .juan_btn {height: auto;overflow: hidden;width: 210px;}
.mains .jiu_right .per_logo .juan_btn a {height: 30px;width: 75px !important;text-align: center;line-height: 28px;background: url(image/new/img/newftx_total.gif) no-repeat 0 -206px;padding-left: 25px;color: #FF7600;display: block;float: left;}
.mains .jiu_right .per_logo .juan_btn .visit_btn {color: #93BD2F;background-position: 0 -240px;margin-left: 10px;}

.mains .jiu_right .exchange_info {background: white;padding: 15px;height: auto;overflow: hidden;width: 200px;}
.mains .jiu_right .exchange_info h3 {color: #8F8F8F;font-size: 14px;overflow: hidden;height: 24px;}
.mains .jiu_right .exchange_info h3 span {display: block;float: left;}
.mains .jiu_right .exchange_info h3 .more {color: #8F8F8F;float: right;font-size: 12px;font-weight: normal;display: block;}
.mains .jiu_right .exchange_info .goods_info {padding: 12px 0px;border-bottom: whiteSmoke dashed 1px;height: auto;overflow: hidden;clear: both;}
.mains .jiu_right .exchange_info .goods_info .goods_img {width: 54px;height: 54px;overflow: hidden;float: left;margin-right: 10px;}
.mains .jiu_right .exchange_info .goods_info .goods_detail {float: left;width: 136px;height: auto;overflow: hidden;margin-top: -3px;}
.mains .jiu_right .exchange_info .goods_info .goods_detail p {color: #8D8D8D;}
.mains .jiu_right .exchange_info .goods_info .goods_detail .goods_title {height: 15px;line-height: 15px;overflow: hidden;}
.mains .jiu_right .exchange_info .goods_info .goods_detail .goods_title a {color: #8D8D8D;}
.mains .jiu_right .exchange_info .goods_info .goods_detail .goods_price, .mains .jiu_right .exchange_info .goods_info .goods_detail .exchange_price {margin-top: 5px;}
.mains .jiu_right .exchange_info .goods_info .goods_detail .goods_price, .mains .jiu_right .exchange_info .goods_info .goods_detail .exchange_price {margin-top: 5px;}
.mains .jiu_right .exchange_info .goods_info .goods_detail .exchange_price b {color: #FF7201;font-weight: normal;margin-right: 2px;}

.mains .jiu_right .theysays {margin-top: 10px;padding: 0px;width: 230px;}
.mains .jiu_right .theysays h3 {height: 38px;line-height: 38px;background: #F9F9F9;border-bottom: #F1F1F1 solid 1px;padding: 0 15px;color: #8D8D8D;}

.mains .jiu_right .worth_buy .worth_buy_goods {padding: 15px 11px 5px 11px;height: auto;overflow: hidden;padding-bottom: 10px;}
.mains .jiu_right .worth_buy .worth_buy_goods ul li {float: left;margin-right: 8px;margin-bottom: 8px;}
.mains .jiu_right .worth_buy .worth_buy_goods ul li .goodsimg a {display: block;height: 100px;width: 100px;overflow: hidden;position: relative;}
.mains .jiu_right .worth_buy .worth_buy_goods ul .no {margin-right: 0px;padding-bottom: 0px;}
.mains .jiu_right .worth_buy .worth_buy_goods ul li .goodsimg span {background-color: rgba(255, 112, 0, 0.7);background-color: rgba(255, 112, 0, 0.7) 9;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aaff7000,endColorstr=#aaff7000);bottom: 0px;cursor: pointer;display: block;height: 22px;right: 1px;line-height: 22px;position: absolute;text-align: center;padding-left: 3px;padding-right: 3px;color: white;}



.jiu_bd {width: 760px;overflow: visible;min-height: 180px;}
.jiu_top {background: url(image/new/img/background_bg.png) repeat;margin-top: 10px;margin-right: 10px;}
.jiu_bd .goods_box:hover {}
.jiu_bd .goods_box {width: 249px;float: left;overflow: visible;position: relative;padding-bottom: 13px;margin-right: 6px;margin-bottom: 10px;z-index: 5;}
.jiu_bd .goods_box .inner_box {background: white;}
.jiu_bd .goods_box .inner_box h3, .jiu_bd .goods_box .inner_box h4 {color: #666;font-size: 12px;height: 40px;line-height: 20px;margin: 0 auto 5px;padding-top: 10px;width: 220px;overflow: hidden;font-weight: normal;}
.jiu_bd .goods_box .inner_box h3 .green {color: #129800;}
.jiu_bd .goods_box .inner_box h3 a {color: #666;font-size: 12px;}
.jiu_bd .goods_box .inner_box h4 {font-size: 12px;display: none;}
.jiu_bd .goods_box .inner_box h4 .xiao_content {color: #999;font-size: 12px;margin-left: 5px;}
.jiu_bd .goods_box .inner_box .pic {border: 1px solid #F50;height: 220px;margin: 0 auto;position: relative;width: 220px;border-bottom: none;}
.jiu_bd .goods_box .inner_box .pic a {display: block;height: 220px;overflow: hidden;width: 220px;text-align: center;}
.jiu_bd .goods_box .inner_box .pic img {margin: 0px auto;width: 220px;overflow: hidden;}



.jiu_bd .goods_box span.li_bg {background: url(image/li_bg.png) no-repeat;height: 11px;width: 183px;position: absolute;margin-top: 0px;margin-left: 75px;}

.jiu_bd .juandou_box .inner_box .pic {border: #F3F3F3 solid 1px;}
.jiu_bd .juandou_box .remain {position: absolute;right: 0px;bottom: 0px;zoom: 1;height: 22px;line-height: 22px;width: 220px;background: white;}
.jiu_bd .juandou_box .remain_num {background-color: #49BC0D;color: white;float: right;padding: 0 5px;width: 58px;text-align: center;}
.jiu_bd .juandou_box .cheng_num {background-color: #FF7000;}
.jiu_bd .juandou_box .juan_detail {width: 220px;margin: 0 auto;height: 46px;line-height: 46px;}
.jiu_bd .juandou_box .juan_detail span {display: block;float: left;color: #666;}
.jiu_bd .juandou_box .juan_detail .current_price {font-size: 16px;font-family: "微软雅黑","verdana";color: #6DB110;margin-right: 3px;}
.jiu_bd .juandou_box .juan_detail .current_price b {font-weight: normal;font-size: 14px;}
.jiu_bd .juandou_box .juan_detail .original_pirce {font-size: 12px;text-decoration: line-through;color: #999;margin-right: 10px;}
.jiu_bd .juandou_box .juan_detail .juan_price {float: right;}
.jiu_bd .juandou_box .juan_detail .all_juandou {font-weight: normal;font-family: "微软雅黑","verdana";font-size: 18px;color: #F50;vertical-align: middle;}

.jiu_bd .goods_box_l {border-right: none;margin-right: 0px;}

.mains .daohang {height: 45px;z-index: 900;}
.mains .daohang .h_center {width: 760px;float: left;border: 1px solid #E2DFDF;background-color: white;}
.mains .daohang .jiu_hd {width: 760px;height: 40px;padding: 0;border-bottom: 1px solid #E2DFDF;}
.mains .daohang .jiu_hd .jiu_dao {width: 760px;background: url(image/bg_40.gif) repeat-x;border-bottom: 1px solid #E2DFDF;}
.mains .daohang .jiu_hd .jiu_dao #nav {float: left;margin-top: 010px;padding-left: 15px;}
.mains .daohang .jiu_hd .jiu_dao #nav li{float:left; height:25px;line-height:25px;text-align:center; position:relative;}  
.mains .daohang .jiu_hd .jiu_dao #nav li.current{ height:20px;line-height:20px;display:block;text-align:center;color:#404040;font-size:12px;position:relative;cursor:pointer;text-decoration:none}
.mains .daohang .jiu_hd .jiu_dao #nav li.current a{ background-color: #F50;color:white;font-weight:bold; border:1px solid #F50; -moz-border-radius:2px; -khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; padding:1px 5px;}
.mains .daohang .jiu_hd .jiu_dao #nav li.current a:hover{background-color: #F50;color:white;}
.mains .daohang .jiu_hd .jiu_dao #nav li:hover a{color:#fa6400;}
.mains .daohang .jiu_hd .jiu_dao #nav li a{display:block;color:#7c7c7c;font-size:12px;-moz-border-radius:2px; -khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; padding:1px 5px;margin-right: 4px;text-decoration: none;}
.mains .daohang .jiu_hd .jiu_dao #nav li a:hover{background-color: #f6d0b9;color:#F50;}
.mains .daohang .jiu_hd .jiu_dao #nav li:hover ul{position:absolute;left:0;visibility: hidden;background-color:#f7f7f7;border:1px solid #cdcbcb;border-top:0;z-index:1000px;}
.mains .daohang .jiu_hd .jiu_dao #nav li:hover ul li{float: none;display: block;   text-align:center;}
.mains .daohang .jiu_hd .jiu_dao #nav li:hover ul li a{  color: #7c7c7c; text-decoration: none}		
.mains .daohang .jiu_hd .jiu_dao #nav li:hover ul li a:hover{ background:#c2e5b2; border:0; color:#7c7c7c;} 



.dialog_daifu {padding: 5px;width: 350px;}
.dialog_daifu .message{padding: 5px;margin: 5px;}
.dialog_daifu .daifu_url .url{background-color: white;border: 1px solid #CFCFCF;color: #BBB;font-size: 14px;height: 75px;line-height: 25px;width: 330px;margin-right: 5px;margin-left: 10px;margin-bottom: 0px;}
.dialog_daifu .daifu_ok{padding: 5px;margin-right: 1px;float: right;}
.dialog_daifu .tips{padding: 5px;margin: 5px;}

















